<header class="s-header">

        <div class="row">

            <div class="s-header__content column">
                <h1 class="s-header__logotext">
                    <a href="index.html" title=""></a>
                </h1>
                {{!-- <p class="s-header__tagline">Put your awesome tagline here.</p> --}}
            </div>

        </div> <!-- end row -->

       <nav class="s-header__nav-wrap">

           <div class="row">

                <ul class="s-header__nav">
                    <li class=""><a href="/">Home</a></li>
                    <li><a href="/user/postyourblog">Post Blog</a></li>	
                    <li><a href="/user">Log In</a></li>
                    <li><a href="/user/registration">Sign In</a></li>
                    <li><a href="/user/logOut">Log Out</a></li>
                    
                </ul> <!-- end #nav -->

           </div> 

        </nav> <!-- end #nav-wrap -->

        <a class="header-menu-toggle" href="#0" title="Menu"><span>Menu</span></a>
    </header>